extends ../base

block content

  section.container
        section.containerHeader 
            span Create a New Job
        section.containerContent
            span.header #{script.name}
            span.description #{script.description}

            for command in script.commands
                if (command.name != null)
                    item #{command.name}
                    item #{command.description}

                if (command.args.required.length > 0)
                    section.divider
                        section.label Required
                    section.form

                if (command.args.optional.length > 0)
                    section.divider
                        section.label Optional
                    section.form
                        for arg in command.args.optional
                            if (arg.inputType == "boolean")
                                section.inputBlock
                                    span.inputLabel #{arg.name}
                                    select.inputSelect(name=arg.id)
                                        option true
                                        option false

                            if (arg.inputType == "selection")
                                section.inputBlock
                                    span.inputLabel #{arg.name}
                                    select.inputSelect(name=arg.id)
                                        for option in arg.options
                                            option #{option}  

                            section.inputDesc #{arg.description}       

            section.containerFooter
                a.button.submitButton Submit