extends base

block content

  if (jobs.length)
    section.container-full
      section.container-header 
        span #{username}'s Jobs
      section.container-content

        for job in jobs
          cell
            section.container-full
              section.container-header 
                span Job Id: #{job.id}
                span.rightSpan #{job.status}
              section.container-content
                item.jobItem Script: #{job.script_id}
                item.jobItem File(s): 
                  if (job.fileList.length == 1)
                    span #{job.fileList[0]}
                  else
                    for file in job.fileList 
                      span #{file}, 
                section.containerFooter
                  item.jobFooterItem Began: #{job.start}
                  a(onclick='viewJob('+job.id+')').button.rightButton View

  section.container-full
    section.container-header 
      span #{username}'s Files
    section.container-content

      for file in files
        cell
          section.container-full
            section.container-header 
              span #{file.name}
            section.container-content
              item.jobItem Uploaded: #{file.created}
              item.jobItem Size: #{file.size}kb

      script.
          function uploadFile() {            
            var formData = new FormData();
            var fileData = $('#upload')[0].files[0];

            console.log(fileData);

            if(fileData != null && fileData != ''){
              formData.append("file", fileData);
              
              var didSucceed = false;

              $.ajax({
                method: "POST",
                url:"/homepage/upload",
                processData:false,
                contentType:false,
                data: formData,
                success:function(data){
                  console.log(data);
                  didSucceed = true;
                },
                error:function(xhr, status, err){
                  console.log(err);
                }
              }).done(function( msg ){
                console.log( "Data Saved: " + msg );
                if(didSucceed) {
                  window.location.href = "/homepage";
                }
              });
            }
          };

          function viewJob(jobId) {
                        $.ajax({
                            method: "POST",
                            url:"/homepage/selectJob",
                            data: {'jobId': jobId},
                            success:function(data){
                                console.log(data);
                                window.location.href = "/viewpage";
                            },
                            error:function(xhr, status, err){
                                console.log(err);
                            }
                        }).done(function( msg ){
                            console.log( "Data Saved: " + msg );
                        });
          }
          
      section.fileInputContainer
        label(for="upload").uploadLabel#uploadLabel 
          span#uploadText Click Here to Upload File
          input(type="file" name="upload" style="display:none;")#upload
      button(onclick='uploadFile()').button.submitButton Upload File

      script.
          document.getElementById('upload').onchange = function () {
            var selectedFile = this.value.split('\\').pop();
            document.getElementById('uploadText').innerHTML = "File to be Uploaded: <b>"+selectedFile+"</b>";
          };

