extends base

block content

  section.container
    section.containerHeader 
      span Jobs Summary
    section.containerContent

      for job in jobs
        cell
          section.container
            section.containerHeader 
              span #{job.name}:
              span.rightSpan #{job.status}
            section.containerContent
              item.jobItem Script: #{job.script_id}
              item.jobItem --- 
              section.containerFooter
                item.jobItem Began: #{job.start}
                a.button.rightButton +

  section.container
    section.containerHeader 
      span File Summary
    section.containerContent

      for file in files
        cell
          section.container
            section.containerHeader 
              span #{file.name}
            section.containerContent
              item.jobItem Uploaded: #{file.uploaded}
              item.jobItem Size: #{file.size}
              section.containerFooter
                a.button.rightButton +

      script.
          function ajax() {
            alert('working');
            
            var formData = new FormData();
            var fileData = $('#upload')[0].files[0];
            console.log(fileData);
            formData.append("file", fileData);
            
            $.ajax({
              method: "POST",
              url:"/upload",
              processData:false,
              contentType:false,
              data: formData,
              success:function(data){
                console.log(data);
                alert(data);
              },
              error:function(xhr, status, err){
                alert(err);
              }
            }).done(function( msg ){
              alert( "Data Saved: " + msg );
            });
          };
          
      section.fileInputContainer
        input(type="file" name="upload")#upload
      button(onclick='ajax()').button.submitButton Upload File
