extends base

block content

  section.container
    section.containerHeader 
      span #{job.title}:
      span.rightSpan #{job.status}
    section.containerContent
      item.jobItem Script: #{job.script}
      item.jobItem File: #{job.file}
        section.containerFooter
          item.jobItem Began: #{job.began}
          a.button.rightButton +